@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
}

html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -moz-tap-highlight-color: rgba(255, 255, 255, 0);
  -ms-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
}

.section-text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  margin-bottom: 50px;
}

.section-text__title {
  font-size: 30px;
  margin-bottom: 20px;
}

.section-text__description {
  font-size: 16px;
  margin-bottom: 20px;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot?68258596");
  src: url("../fonts/fontello/fontello.eot?68258596#iefix") format("embedded-opentype"), url("../fonts/fontello/fontello.woff2?68258596") format("woff2"), url("../fonts/fontello/fontello.woff?68258596") format("woff"), url("../fonts/fontello/fontello.ttf?68258596") format("truetype"), url("../fonts/fontello/fontello.svg?68258596#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?68258596#fontello') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-location-outline:before {
  content: '\e800';
}

/* '' */
.icon-search:before {
  content: '\e801';
}

/* '' */
.icon-right:before {
  content: '\e802';
}

/* '' */
.icon-heart-empty:before {
  content: '\e803';
}

/* '' */
.icon-heart:before {
  content: '\e804';
}

/* '' */
.icon-cancel:before {
  content: '\e805';
}

/* '' */
.icon-search-1:before {
  content: '\e806';
}

/* '' */
.icon-location:before {
  content: '\e807';
}

/* '' */
.icon-angle-down-solid:before {
  content: '\e808';
}

/* '' */
.icon-arrow_submit:before {
  content: '\e809';
}

/* '' */
.icon-bag:before {
  content: '\e80a';
}

/* '' */
.icon-map-blue:before {
  content: '\e80b';
}

/* '' */
.icon-search-blue:before {
  content: '\e80c';
}

/* '' */
.icon-heart-1:before {
  content: '\e80d';
}

/* '' */
.icon-heart-empty-1:before {
  content: '\e80e';
}

/* '' */
.icon-down-open:before {
  content: '\f004';
}

/* '' */
.icon-up-open:before {
  content: '\f005';
}

/* '' */
.icon-right-open:before {
  content: '\f006';
}

/* '' */
.icon-left-open:before {
  content: '\f007';
}

/* '' */
.icon-twitter:before {
  content: '\f099';
}

/* '' */
.icon-menu:before {
  content: '\f0c9';
}

/* '' */
.icon-angle-left:before {
  content: '\f104';
}

/* '' */
.icon-angle-right:before {
  content: '\f105';
}

/* '' */
.icon-angle-up:before {
  content: '\f106';
}

/* '' */
.icon-angle-down:before {
  content: '\f107';
}

/* '' */
.icon-youtube-play:before {
  content: '\f16a';
}

/* '' */
.icon-instagram:before {
  content: '\f16d';
}

/* '' */
.icon-pinterest:before {
  content: '\f231';
}

/* '' */
.icon-shopping-bag:before {
  content: '\f290';
}

/* '' */
.icon-facebook-squared:before {
  content: '\f308';
}

/* '' */
.icon-search-2:before {
  content: '\f50d';
}

/* '' */
.section-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.background-color-wrapper {
  width: 100%;
  padding: 100px 0;
  background-color: #f6f3ec;
}

.hide {
  display: none !important;
}

.btn {
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  border: none;
  border-radius: 25px;
  text-decoration: none;
}

.btn:focus {
  outline: none;
}

.btn-main {
  background-color: #3C9D99;
  color: #fff;
}

.btn-main:hover {
  background-color: #248985;
}

@media (max-width: 1024px) {
  .btn-main:hover {
    background-color: #3C9D99;
  }
}

.btn-product {
  background-color: #3C9D99;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  width: 140px;
}

.btn-product:hover {
  background-color: #248985;
}

@media (max-width: 1024px) {
  .btn-product:hover {
    background-color: #3C9D99;
  }
}

.product__wishlist-heart {
  cursor: pointer;
}

.product__wishlist-heart.active::before, .product__wishlist-heart:hover::before {
  content: '\e80d';
}

.best-sellers-section {
  padding: 0 30px;
}

.product {
  width: 260px;
  padding: 10px;
}

.product__image-container {
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 25px;
  position: relative;
}

.product__image-container:hover img {
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
}

.product__image-container:hover .btn {
  opacity: 1;
}

@media (max-width: 1024px) {
  .product__image-container:hover img {
    -webkit-transform: none;
            transform: none;
  }
}

.product__image-container.display {
  margin: 0;
}

.product__image {
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.product__button {
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.product__wishlist-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 10px;
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 15px;
}

.product__wishlist-heart {
  color: #333;
}

.product__title-container {
  width: 100%;
  margin-bottom: 10px;
}

.product__title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #333;
}

.product__price-container {
  width: 100%;
}

.product__price {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  color: #333;
}

.create-product {
  max-width: 240px;
  width: 100%;
}

.jar {
  max-width: 95px;
  width: 100%;
  margin: 50px auto;
}

.jar-light {
  max-width: 95px;
  width: 100%;
  margin: 20px auto 50px auto;
}

.jar-wrap {
  max-width: 190px;
  width: 100%;
  margin: auto;
}

.jar-wrap-lg {
  max-width: 170px;
  width: 100%;
  margin: auto;
}

.decoration {
  padding: 15px;
}

.util-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 350px) {
  .util-link {
    font-size: 10px;
    line-height: 13px;
  }
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 1150px) {
  .nav-link {
    font-size: 13px;
  }
}

.logo {
  font-family: serif;
  font-size: 24px;
  color: #153257;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1px;
}

.logo-letter {
  font-size: 29px;
}

.icon-map-blue:before {
  color: #333;
  margin-right: 4px;
}

.icon-bag:before {
  color: #333;
  font-size: 22px;
}

.icon-search-blue:before {
  color: #333;
  font-size: 20px;
}

.icon-search-blue.close:before {
  content: '\e805';
  font-size: 24px;
}

.search-dropdown {
  display: none;
  width: 100%;
  height: 75px;
  position: absolute;
  top: 113px;
  background-color: #fff;
  border-bottom: 2px solid #e2e2e2;
}

.search-dropdown.show {
  display: block;
}

.search-dropdown__main-content {
  height: 100%;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.search-dropdown__form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-dropdown__form-input {
  font-family: 'Montserrat', sans-serif;
  margin: auto 0;
  font-size: 30px;
  padding: 0 30px;
  color: #333;
  background-color: #fff;
  border: none;
  width: 75%;
}

.search-dropdown__form-input:focus {
  outline: none;
}

.search-dropdown__form-submit {
  padding: 0 30px;
  font-size: 30px;
  color: #333;
  background-color: #fff;
  border: none;
}

.search-dropdown__form-submit:focus {
  outline: none;
}

.search-dropdown__results {
  display: none;
  width: 100%;
  height: 430px;
  background-color: #fff;
  position: absolute;
  bottom: -431px;
  left: 0;
  right: 0;
  border-bottom: 2px solid #e2e2e2;
}

.search-dropdown__results.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-dropdown__results-container {
  border-top: 1px solid #e2e2e2;
  padding: 30px 40px 10px 40px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.search-dropdown__results-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1024px) {
  .search-dropdown {
    display: none !important;
  }
}

.search-dropdown__no-results {
  width: 100%;
  height: 210px;
  position: absolute;
  top: 75px;
  left: 0;
  display: none;
  background-color: #fff;
  border-bottom: 2px solid #e2e2e2;
}

.search-dropdown__no-results.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-dropdown__no-results-text {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 40px;
  color: #333;
}

.minicart {
  display: none;
  position: absolute;
  top: 112px;
  right: 0;
  width: 380px;
  background-color: #EDEDED;
}

.minicart.show {
  display: block;
}

.minicart__no-items {
  height: 150px;
  display: none;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.minicart__no-items.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.minicart__no-items-text {
  margin: auto;
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 19px;
}

.minicart__wrapper {
  padding: 20px;
}

.minicart__empty-container {
  width: 100%;
  height: 110px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.minicart__empty-text {
  margin: auto;
  font-weight: 700;
}

.minicart__totals-container {
  border-bottom: 1px solid #ccc;
}

.minicart__totals {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin: 10px 0 15px 5px;
}

.minicart__subtotals-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.minicart__view-button {
  margin: 20px 0 10px 0;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

.minicart-product {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.minicart-product__image-container {
  width: 25%;
}

.minicart-product__image {
  width: 100%;
}

.minicart-product__info {
  width: 50%;
  padding: 0 0 0 10px;
}

.minicart-product__name {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 15px;
  font-weight: bold;
}

.minicart-product__price {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #333;
  margin: 7px 0;
}

.minicart-product__remove {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #8f8f8f;
  text-decoration: none;
}

.minicart-product__remove::before {
  content: 'X ';
}

.minicart-product__quantity-container {
  width: 25%;
}

.minicart-product__quantity-main {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px 0 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.minicart-product__quantity {
  padding: 0 5px;
  cursor: default;
  font-family: 'Montserrat', sans-serif;
}

.minicart-product__change {
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 700;
  vertical-align: middle;
}

.minicart-product__plus-sign {
  vertical-align: middle;
}

.minicart-product__minus-sign {
  vertical-align: middle;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
}

.utility-bar {
  width: 100%;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-color: #68caa4;
}

@media (max-width: 1024px) {
  .utility-bar {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.utility-bar__left {
  width: 270px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .utility-bar__left {
    display: none;
  }
}

.utility-bar__consultant-container {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #43AE86;
}

.utility-bar__consultant {
  margin: auto;
}

.utility-bar__help-container {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.utility-bar__help {
  margin: auto;
}

.utility-bar__mid {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.utility-bar__promo-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.utility-bar__promo {
  margin: auto;
}

.utility-bar__right {
  width: 270px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .utility-bar__right {
    display: none;
  }
}

.utility-bar__country-container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #43AE86;
}

.utility-bar__country {
  margin: auto;
}

.utility-bar__login-container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.utility-bar__login {
  margin: auto;
}

.navigation-bar {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-color: #fff;
  border-bottom: 2px solid #e2e2e2;
}

@media (max-width: 1024px) {
  .navigation-bar {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border: none;
  }
}

.navigation-bar__hamburger-container {
  display: none;
  width: 160px;
}

@media (max-width: 1024px) {
  .navigation-bar__hamburger-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .navigation-bar__hamburger-container {
    width: 130px;
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .navigation-bar__hamburger-container {
    padding-left: 10px;
    width: 90px;
  }
}

.navigation-bar__hamburger-link {
  color: #333;
  font-size: 24px;
  margin: auto;
}

@media (max-width: 480px) {
  .navigation-bar__hamburger-link {
    font-size: 18px;
  }
}

.navigation-bar__social-container {
  display: none;
}

.navigation-bar__left {
  width: 190px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .navigation-bar__left {
    width: auto;
  }
}

.navigation-bar__logo-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-bar__logo {
  margin: auto 0 auto auto;
}

@media (max-width: 1024px) {
  .navigation-bar__logo {
    margin: auto 0;
  }
}

.navigation-bar__main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .navigation-bar__main {
    display: none;
  }
  .navigation-bar__main.nav-mobile {
    display: block;
    position: fixed;
    top: 75px;
    bottom: 0;
    width: 60%;
    background: #fff;
    z-index: 5;
    border-top: 2px solid #e2e2e2;
  }
  .navigation-bar__main.nav-mobile .navigation-bar__item {
    display: block;
    padding: 20px 0;
    border-bottom: 2px solid #e2e2e2;
  }
  .navigation-bar__main.nav-mobile .navigation-bar__social-container {
    display: block;
  }
  .navigation-bar__main.nav-mobile .navigation-bar__social-icons {
    margin: 40px 0 0 20px;
  }
}

@media (max-width: 1024px) and (max-width: 480px) {
  .navigation-bar__main.nav-mobile .navigation-bar__social-icons {
    margin: 30px 0 0 5px;
  }
}

@media (max-width: 1024px) {
  .navigation-bar__main.nav-mobile .navigation-bar__social-link {
    padding: 0 15px;
  }
}

@media (max-width: 1024px) and (max-width: 480px) {
  .navigation-bar__main.nav-mobile .navigation-bar__social-link {
    padding: 9px;
  }
}

@media (max-width: 1024px) {
  .navigation-bar__main.nav-mobile .navigation-bar__social-link:active {
    color: #000;
  }
  .navigation-bar__main.nav-mobile .navigation-bar__social-link:visited {
    color: #000;
  }
}

.navigation-bar__menu {
  margin: auto;
  cursor: default;
}

.navigation-bar__item {
  display: inline;
}

.navigation-bar__link {
  padding: 10px 0px 7px 0px;
  margin: 0 25px;
  position: relative;
}

.navigation-bar__link::before {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation-bar__link::after {
  -webkit-transition: all .2s;
  transition: all .2s;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #68CAA4;
  height: 2px;
}

.navigation-bar__link:hover {
  color: #68CAA4;
}

.navigation-bar__link:hover::after {
  width: 100%;
}

@media (max-width: 1024px) {
  .navigation-bar__link:hover::after {
    width: 0;
  }
}

@media (max-width: 1150px) {
  .navigation-bar__link {
    margin: 0 18px;
  }
}

.navigation-bar__right {
  width: 140px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px 0 20px;
}

@media (max-width: 1024px) {
  .navigation-bar__right {
    width: 80px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .navigation-bar__right {
    margin-right: 10px;
    width: 110px;
  }
}

@media (max-width: 480px) {
  .navigation-bar__right {
    width: 90px;
    margin-right: 15px;
  }
}

.navigation-bar__search-container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .navigation-bar__search-container {
    display: none;
  }
}

.navigation-bar__search-button {
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 25px;
  cursor: pointer;
}

.navigation-bar__search-button:focus {
  outline: none;
}

@media (max-width: 480px) {
  .navigation-bar__search-button {
    width: 38px;
    height: 38px;
    background-size: 20px 20px;
  }
}

.navigation-bar__bag-container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .navigation-bar__bag-container {
    width: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.navigation-bar__bag-button {
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 25px;
  cursor: pointer;
}

.navigation-bar__bag-button:focus {
  outline: none;
}

@media (max-width: 480px) {
  .navigation-bar__bag-button {
    width: 38px;
    height: 38px;
    background-size: 20px 20px;
  }
}

.section-hero {
  width: 100%;
  margin-top: 110px;
  margin-bottom: 40px;
  position: relative;
}

.hero {
  width: 100%;
}

.hero__image-container {
  width: 100%;
}

.hero__image {
  width: 100%;
  height: 770px;
  -o-object-fit: cover;
     object-fit: cover;
}

.create-pre-heading {
  font-family: 'Noto Serif', serif;
  color: #9F8447;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
}

.create-heading {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 26px;
  font-weight: 600;
}

.create-description {
  font-family: 'Maven Pro', sans-serif;
  color: #858585;
  font-size: 17px;
  line-height: 27px;
  font-weight: normal;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 20px;
  font-weight: 600;
}

.card-description {
  font-family: 'Maven Pro', sans-serif;
  color: #858585;
  font-size: 17px;
  line-height: 21px;
  font-weight: normal;
}

.card-number {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #333;
}

.section-block {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.create-section {
  max-width: 1300px;
  margin: 100px auto 100px auto;
}

.create__main-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .create__main-container {
    display: block;
  }
}

.create__left-section {
  width: 50%;
  padding-right: 50px;
}

@media (max-width: 1024px) {
  .create__left-section {
    width: 100%;
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .create__left-section {
    padding: 0 15px;
  }
}

.create__right-section {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
}

@media (max-width: 1024px) {
  .create__right-section {
    width: 100%;
    padding-left: 0px;
  }
}

.create__details {
  padding: 0 20px;
}

.create__pre-heading {
  margin-bottom: 10px;
}

.create__heading {
  margin-bottom: 35px;
}

.create__description {
  margin-bottom: 40px;
}

.create__cards-container {
  width: 100%;
}

.create__cards-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.create__cards-bot {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create__card {
  width: 50%;
  padding: 20px;
}

.create__count-main-container {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.create__count-number-container {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create__count-number {
  width: 40px;
  height: 40px;
  margin: auto;
  border: 2px solid #9F8447;
  border-radius: 25px;
  position: relative;
}

.create__count-number-span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.create__count-line-container {
  width: 100%;
  padding-left: 20px;
}

.create__count-line {
  width: 100%;
  height: 50%;
  border-bottom: 2px solid #9F8447;
}

.create__card-title {
  margin-bottom: 12px;
}

.create__products-left {
  width: 50%;
}

@media (max-width: 1024px) {
  .create__products-left {
    width: auto;
    margin-left: auto;
  }
}

.create__products-right {
  width: 50%;
  padding: 90px 0 0 0;
}

@media (max-width: 1024px) {
  .create__products-right {
    width: auto;
    margin-right: auto;
  }
}

.create__product-container {
  width: 100%;
  padding: 20px;
}

.options__text-small {
  font-family: 'Srisakdi', cursive;
  font-size: 27px;
}

.options__text-large {
  font-family: 'Noto Serif', Serif;
  font-size: 37px;
}

.options-section {
  width: 100%;
  margin-bottom: 10px;
}

.options__main-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

@media (max-width: 1024px) {
  .options__main-container {
    display: block;
  }
}

.options__image-container {
  width: calc(100% / 3);
  padding: 10px;
  position: relative;
}

.options__image-container:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1024px) {
  .options__image-container {
    width: 100%;
  }
}

.options__image-wrapper {
  overflow: hidden;
}

.options__image {
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.options__image-dark-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.options__image-text-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
}

.options__image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  cursor: default;
}

.explore__overlay-text-wrapper {
  text-decoration: none;
}

.explore__overlay-text-wrapper:hover .explore__overlay-text-link {
  text-decoration: underline;
}

.explore__overlay-text-category {
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

.explore__overlay-text-description-lg {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

@media (max-width: 580px) {
  .explore__overlay-text-description-lg {
    font-size: 25px;
  }
}

.explore__overlay-text-description-sm {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

@media (max-width: 680px) {
  .explore__overlay-text-description-sm {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .explore__overlay-text-description-sm {
    font-size: 13px;
  }
}

.explore__overlay-text-link {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

@media (max-width: 425px) {
  .explore__overlay-text-link {
    font-size: 14px;
  }
}

.explore-section {
  padding: 0 8px;
  margin-bottom: 50px;
}

.explore__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .explore__container {
    display: block;
    width: 100%;
    margin-left: 0;
  }
}

.explore__left-section {
  width: 50%;
  margin-right: 4px;
}

@media (max-width: 1024px) {
  .explore__left-section {
    width: 100%;
  }
}

.explore__right-section {
  width: 50%;
  margin-left: 4px;
}

@media (max-width: 1024px) {
  .explore__right-section {
    width: 100%;
    margin-left: 0;
  }
}

.explore__large-image-wrapper--left {
  margin-bottom: 8px;
}

.explore__large-image-wrapper--right {
  margin-top: 8px;
}

.explore__large-image-picture {
  width: 100%;
}

.explore__large-image-container {
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.explore__large-image-container:hover .explore__overlay-text-lg {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.explore__large-image-container:hover .explore__large-image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.explore__large-image {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.explore__small-images-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .explore__small-images-wrapper--left {
    margin-bottom: 8px;
  }
}

.explore__small-image-picture {
  width: calc(50% - 4px);
}

.explore__small-image-container {
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.explore__small-image-container:hover .explore__overlay-text-sm {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.explore__small-image-container:hover .explore__small-image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.explore__small-image {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.explore__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.explore__overlay-text-lg {
  width: 320px;
  margin: 30% auto 0 auto;
  cursor: default;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 1024px) {
  .explore__overlay-text-lg {
    width: 80%;
    margin: 39% auto 0 auto;
  }
}

@media (max-width: 580px) {
  .explore__overlay-text-lg {
    margin-top: 23%;
  }
}

.explore__overlay-text-sm {
  width: 200px;
  margin: 24% auto 0 auto;
  cursor: default;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 1024px) {
  .explore__overlay-text-sm {
    width: 80%;
    margin: 39% auto 0 auto;
  }
}

@media (max-width: 680px) {
  .explore__overlay-text-sm {
    margin-top: 23%;
  }
}

@media (max-width: 425px) {
  .explore__overlay-text-sm {
    margin-top: 18%;
  }
}

.overlay-large-01:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-large-02:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-small-01:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-small-02:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-small-03:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-small-04:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-explore-01:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-explore-02:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.best-options-section {
  padding-bottom: 80px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .best-options-section {
    padding-bottom: 30px;
  }
}

.best-sellers-section {
  margin-bottom: 50px;
}

.best-sellers__main-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .best-sellers__main-container {
    display: block;
  }
}

.best-sellers__left-container {
  width: calc(50% - 26px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 26px;
}

@media (max-width: 1024px) {
  .best-sellers__left-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.best-sellers__right-container {
  width: calc(50% - 26px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 26px;
}

@media (max-width: 1024px) {
  .best-sellers__right-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 1024px) {
  .best-product {
    max-width: 380px;
  }
}

.best-product--left {
  margin-right: 26px;
}

@media (max-width: 1024px) {
  .best-product--left {
    margin-right: 0;
  }
}

.best-product--right {
  margin-left: 26px;
}

@media (max-width: 1024px) {
  .best-product--right {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .best-product__image-container {
    padding-bottom: 0;
  }
}

.promo-banner-section {
  width: 100%;
  margin-bottom: 100px;
}

.promo__main-content {
  width: 100%;
  position: relative;
}

.promo__image {
  width: 100%;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0px;
     object-position: 0 0px;
}

.promo__text-container {
  position: absolute;
  top: 440px;
  left: 218px;
  color: #ddd;
  max-width: 350px;
  text-align: center;
}

@media (max-width: 1024px) {
  .promo__text-container {
    top: 90px;
    left: 14px;
  }
}

.promo__heading {
  font-size: 50px;
  font-family: 'Srisakdi', cursive;
  margin-bottom: 30px;
}

.promo__description {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.light-section {
  margin-bottom: 100px;
}

.light {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.light__all-container {
  width: 100%;
}

.light__container {
  width: 100%;
  padding: 0 20px;
}

.light__container--left {
  width: 100%;
}

.light__container--right {
  width: 100%;
}

.light__container:nth-child(odd) .light {
  width: 80%;
  margin-right: auto;
}

@media (max-width: 480px) {
  .light__container:nth-child(odd) .light {
    width: 100%;
  }
}

.light__container:nth-child(even) .light {
  width: 80%;
  margin-left: auto;
}

@media (max-width: 480px) {
  .light__container:nth-child(even) .light {
    width: 100%;
  }
}

.light__left-section {
  width: 75%;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .light__left-section {
    width: 70%;
  }
}

@media (max-width: 420px) {
  .light__left-section {
    width: 100%;
  }
}

.light__right-section {
  width: 25%;
}

@media (max-width: 768px) {
  .light__right-section {
    width: 30%;
  }
}

@media (max-width: 420px) {
  .light__right-section {
    display: none;
  }
}

.light__card {
  width: 100%;
}

.light__count-main-container {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.light__count-number-container {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.light__count-number {
  width: 40px;
  height: 40px;
  margin: auto;
  border: 2px solid #9F8447;
  border-radius: 25px;
  position: relative;
}

.light__count-number-span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.light__count-line-container {
  width: 100%;
  padding: 0 0px 0 20px;
}

.light__count-line {
  width: 100%;
  height: 50%;
  border-bottom: 2px solid #9F8447;
}

.light__card-title {
  margin-bottom: 12px;
}

.light__image-container {
  width: 100%;
}

.light__image-container:hover img {
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
}

.light__image {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.subscribe-section {
  width: 100%;
  height: 770px;
  position: relative;
}

@media (max-width: 990px) {
  .subscribe-section {
    height: 600px;
  }
}

.subscribe__main-container {
  width: 100%;
}

.subscribe__image1-container {
  max-width: 260px;
  position: absolute;
  top: 30px;
  left: 0px;
}

@media (max-width: 1290px) {
  .subscribe__image1-container {
    max-width: 230px;
  }
}

@media (max-width: 990px) {
  .subscribe__image1-container {
    max-width: 160px;
    top: 30px;
  }
}

@media (max-width: 850px) {
  .subscribe__image1-container {
    display: none;
  }
}

.subscribe__image1 {
  width: 100%;
}

.subscribe__image2-container {
  max-width: 240px;
  position: absolute;
  bottom: 0;
  left: 150px;
}

@media (max-width: 1290px) {
  .subscribe__image2-container {
    left: 50px;
  }
}

@media (max-width: 990px) {
  .subscribe__image2-container {
    left: 0px;
    max-width: 190px;
  }
}

@media (max-width: 425px) {
  .subscribe__image2-container {
    display: none;
  }
}

.subscribe__image2 {
  width: 100%;
}

.subscribe__image3-container {
  position: absolute;
  height: 100%;
  top: 0;
  right: 50px;
}

@media (max-width: 990px) {
  .subscribe__image3-container {
    right: 0;
  }
}

@media (max-width: 850px) {
  .subscribe__image3-container {
    display: none;
  }
}

.subscribe__image3 {
  height: 100%;
}

.subscribe__image4-container {
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;
  max-width: 200px;
}

@media (max-width: 850px) {
  .subscribe__image4-container {
    display: block;
  }
}

@media (max-width: 425px) {
  .subscribe__image4-container {
    display: none;
  }
}

.subscribe__image4 {
  width: 100%;
}

.subscribe__contact-container {
  width: 80%;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

@media (max-width: 850px) {
  .subscribe__contact-container {
    top: 8%;
  }
}

.subscribe__pre-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  text-align: center;
}

@media (max-width: 640px) {
  .subscribe__pre-heading {
    font-size: 17px;
    line-height: 19px;
  }
}

.subscribe__heading {
  font-size: 80px;
  font-weight: normal;
  text-align: center;
  color: #333;
  font-family: 'Srisakdi', cursive;
  margin-bottom: 70px;
}

@media (max-width: 640px) {
  .subscribe__heading {
    font-size: 56px;
  }
}

.subscribe__description {
  max-width: 400px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #333;
  margin-bottom: 30px;
}

@media (max-width: 640px) {
  .subscribe__description {
    font-size: 14px;
    line-height: 21px;
  }
}

.subscribe__email-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.subscribe__email-container {
  position: relative;
  margin: 0 auto;
}

.subscribe__email-input {
  width: 400px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #333;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  padding: 15px 70px 15px 25px;
}

.subscribe__email-input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 3px 1px #1d89fc;
          box-shadow: 0 0 3px 1px #1d89fc;
}

@media (max-width: 480px) {
  .subscribe__email-input {
    width: 310px;
  }
}

@media (max-width: 350px) {
  .subscribe__email-input {
    width: 280px;
  }
}

.subscribe__email-input.error {
  -webkit-box-shadow: 0 0 4px 1px #dadada;
          box-shadow: 0 0 4px 1px #dadada;
}

.subscribe__email-input.error:focus {
  -webkit-box-shadow: 0 0 3px 1px #1d89fc;
          box-shadow: 0 0 3px 1px #1d89fc;
}

.subscribe__email-submit {
  position: absolute;
  right: 6px;
  top: 4px;
  background-color: #2A7AB0;
  color: #fff;
  border: none;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

.subscribe__email-submit:hover {
  background-color: #183157;
}

.subscribe__email-submit:focus {
  outline: none;
}

.subscribe__email-label {
  margin-top: 10px;
  margin-left: 20px;
  display: block;
  color: red;
}

.subscribe__social-container {
  width: 100%;
  text-align: center;
}

.subscribe__social-link {
  width: 25px;
  text-decoration: none;
}

.subscribe__image {
  display: inline;
  margin: 10px;
}

.footer__nav {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #68CAA4;
}

@media (max-width: 768px) {
  .footer__nav {
    height: auto;
  }
}

.footer__menu {
  list-style-type: none;
  margin: auto;
  cursor: default;
}

@media (max-width: 768px) {
  .footer__menu {
    width: 100%;
  }
}

.footer__item {
  display: inline;
  margin: 0 25px;
}

@media (max-width: 1024px) {
  .footer__item {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .footer__item {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #43AE86;
  }
}

.footer__link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 13px;
}

.footer__link:active {
  color: #333;
}

.footer__link:visited {
  color: #333;
}

@media (max-width: 768px) {
  .footer__link {
    margin: auto 0;
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */