@font-face {
    font-family: 'Bodoni Std';
    src: url('BodoniStd-PosterItalic.woff2') format('woff2'),
        url('BodoniStd-PosterItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

