
.explore-section {
    padding: 0 8px;
}


.explore {

    &__container {
        width: 100%;
        display: flex;

        @media (max-width: 1024px) {
            display: block;
            width: 100%;
            margin-left: 0;
        }
    }

    &__left-section {
        width: 50%;
        margin-right: 4px;

        @media (max-width: 1024px) {
            width: 100%;
        }
    }

    &__right-section {
        width: 50%;
        margin-left: 4px;

        @media (max-width: 1024px) {
            width: 100%;
            margin-left: 0;
        }
    }
    
    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }




    &__large-image-wrapper {
        &--left {
            margin-bottom: 8px;
        }
        &--right {
            margin-top: 8px;
        }
    }
    &__large-image-picture {
        width: 100%;
    }
    &__large-image-container {
        position: relative;
        overflow: hidden;
    }
    &__large-image {
        width: 100%;
        transform: scale(1);
    }







    &__small-images-wrapper {
        display: flex;
        justify-content: space-between;

        &--left {
            @media (max-width: 1024px) {
                margin-bottom: 8px;
            }
        }
    }
    &__small-image-picture {
        width: calc(50% - 4px);
    }
    &__small-image-container {
        position: relative;
        overflow: hidden;
    }
    &__small-image {
        width: 100%;
        transform: scale(1);
    }
}


